<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Insert title here</title>
    </head>
    <body>
        <div id="app">
            <h1>Student 관리</h1>
            <hr />
            <table>
                <thead>
                    <tr>
                        <td>StudentId</td>
                        <td>StudentNm</td>
                        <td>Email</td>
                        <td>Phone</td>
                        <td>Views</td>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        v-for="(student, index) in studentList"
                        :key="index"
                        @click="detail(student.studentId)"
                    >
                        <td>{{student.studentId}}</td>
                        <td>{{student.studentNm}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.phone}}</td>
                        <td>{{student.views}}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <table>
                <tbody>
                    <tr>
                        <td>StudentNm</td>
                        <td><input  v-model="detailData.studentNm" required/></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input v-model="detailData.email" required/></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td><input v-model="detailData.phone" required/></td>
                    </tr>
                </tbody>
            </table>
        

        <div style="border: 1px; margin: auto; text-align: center">
            <button @click="insert()">등록</button>
            <button @click="update()">수정</button>
            <button @click="del()">삭제</button>
            <button @click="clear()">초기화</button>
            <button @click="sort()">정렬</button>
            <button @click="generateViews()">랜덤 조회수 생성기</button>
        </div>
    </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp, ref } = Vue;
            const app = createApp({
                setup() {
                    const studentList = ref([]);
                    const detailData = ref({});
                    
                    const list = async () => {
                        try {
                            let response = await fetch(
                                "http://localhost:8080/students"
                            );
                            let data = await response.json();                
                            studentList.value = data;                            
                            // data로 이후 비동기 처리 결과
                        } catch (error) {
                            console.error(error);
                        }
                    };
                    // Arrow Function은 this를 지정 못함!
                    const detail =  async function (studentId) {
                        try{
                            let response = await fetch("http://localhost:8080/students/" + studentId);
                            let data = await response.json();
                            
                            detailData.value = data;
                            console.log(detailData.value.studentId);
                        } catch(error){
                            console.log(error);
                        };
                    };

                    const insert = async function(){
                        let fetchOptions = {
                            method:"POST",
                            body: new URLSearchParams(detailData.value)
                        };
                        try{
                            let response = await fetch("http://localhost:8080/students", fetchOptions)
                            let data = await response.json();
                            console.log(detailData.value.studentId);
                            console.log("insert()")
                            list();
                        }catch(error){
                            console.log(error);
                        };
                    };
                    
                    const update = async function(){                      
                        let fetchOptions = {
                            method:"PUT",
                            body: new URLSearchParams(detailData.value)
                        };
                        try{
                            let response = await fetch("http://localhost:8080/students/"+detailData.value.studentId, fetchOptions)
                            let data = await response.json();
                            console.log("update")
                            list();
                        }catch(error){
                            console.log(error);
                        };
                    }

                    const del = async function(){                      
                        let fetchOptions = {
                            method:"delete",
                        };
                        try{
                            let response = await fetch("http://localhost:8080/students/"+detailData.value.studentId, fetchOptions)
                            let data = await response.json();
                            console.log("update")
                            list();
                        }catch(error){
                            console.log(error);
                        };
                    };

                    const clear = () => {
                        detailData.value = "";
                    };

                    const sort = async function(){
                        console.log("sort");
                        let fetchOptions = {method:"GET"}
                        try{
                            let response = await fetch("http://localhost:8080/students/sort", fetchOptions);
                            let data = await response.json();
                            studentList.value = data;
                        } catch(error){
                            console.log(error);
                        };
                    };

                    const generateViews = async function(){
                        let fetchOptions = {
                            method: "PUT",

                        };
                        try{
                            let response = await fetch("http://localhost:8080/students/generateViews/"+getRandomInt(1,100), fetchOptions);
                            let data = await response.json();
                            list();
                        } catch(error){
                            console.log(error);
                        };
                    };

                    list();
                    return {
                        generateViews,
                        sort,
                        clear,
                        del,
                        update,
                        insert,
                        detail,
                        studentList,
                        detailData,
                    };
                },
            }).mount("#app");

            function getRandomInt(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min) + min); //최솟값을 포함하고, 최댓값은 포함하지 않음
		    };
        </script>
    </body>
</html>
