<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Insert title here</title>
    </head>
    <body>
        <div id="app">
            <h1>Employee 관리 - Axios</h1>
            <hr />
            <table>
                <thead>
                    <tr>
                        <td>EmployeeId</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Email</td>
                        <td>Hire Date</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(emp, index) in empList" :key="index" @click="detail(emp.employeeId)">
                        <td>{{emp.employeeId}}</td>
                        <td>{{emp.firstName}}</td>
                        <td>{{emp.lastName}}</td>
                        <td>{{emp.email}}</td>
                        <td>{{emp.hireDate}}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
            <table>
                <tbody>
                    <tr>
                        <td>LastName</td>
                        <td><input v-model="emp.lastName" /></td>
                    </tr>
                    <tr>
                        <td>firstName</td>
                        <td><input v-model="emp.firstName" /></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input v-model="emp.email" /></td>
                    </tr>
                    <tr>
                        <td>hireDate</td>
                        <td><input v-model="emp.hireDate" /></td>
                    </tr>
                </tbody>
            </table>
            <div id="" style="border: 1px; margin: auto; text-align: center">
                <button @click="insert()">등록</button>
                <button @click="update()">수정</button>
                <button @click="Delete()">삭제</button>
                <button @click="clear()">초기화</button>
                <button @click="invade()">정렬</button>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const { createApp, ref } = Vue;
            const app = createApp({
                setup() {
                    const emp = ref({});
                    const empList = ref([]);

                    const clear = function () {
                        console.log("clear()");
                        emp.value = {
                            employeeId: 0,
                            first_name: "",
                            last_name: "",
                            email: "",
                            hiredate: "",
                        };
                    };

                    const list = async () => {
                        try {
                            let response = await axios.get("http://localhost:8080/axios/empList");
                            // axios라면 이미 javascript 객체임
                            let { data } = await response;
                            empList.value = data;
                            // data로 이후 비동기 처리 결과
                        } catch (error) {
                            console.error(error);
                        }
                    };
                    // Arrow Function은 this를 지정 못함!
                    const detail = async function (employeeId) {
                        try {
                            let { data } = await axios.get("http://localhost:8080/axios/empDetail/" + employeeId);

                            emp.value = data;
                            // data로 이후 비동기 처리 결과
                        } catch (error) {
                            console.error(error);
                        }
                    };
                    const insert = async function () {
                        try {
                            let response = await axios.post("http://localhost:8080/axios/empInsert", emp.value);
                            list();
                            clear();
                        } catch (error) {
                            console.error(error);
                        }
                    };

                    const update = async function () {
                        console.log("update()");
                        console.log(emp.value);
                        try {
                            await axios.put("http://localhost:8080/axios/empUpdate", emp.value);
                            list();
                            clear();
                            // data로 이후 비동기 처리 결과
                        } catch (error) {
                            console.error(error);
                        }
                    };

                    const Delete = async function () {
                        console.log("delete()");
                        try {
                            let { data } = await axios.delete("http://localhost:8080/axios/empDelete/" + emp.value.employeeId);
                            list();
                            clear();
                            // data로 이후 비동기 처리 결과
                        } catch (error) {
                            console.error(error);
                        }
                    };

                    list();
                    return {
                        Delete,
                        update,
                        detail,
                        insert,
                        emp,
                        empList,
                        clear,
                    };
                },
            }).mount("#app");
        </script>
    </body>
</html>
