<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <local-component></local-component>
            <local-component></local-component>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script>
            const { createApp } = Vue;
            const LocalComponent = {
                template: `<div>LocalComponent 입니다. 1</div>
                            <div>LocalComponent 입니다. 2</div>`,
            };
            const app = createApp({
                components: {
                    LocalComponent,
                },
                setup() {},
            }).mount("#app");
        </script>
    </body>
</html>
